<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="font-small text-secondary pt-2" href="https://vladtrebukhov.com">©
        2019
        Copyright:
        vladtrebukhov.com
    </a>
</nav>